.EntregaAtividade {
  border-radius: 10px;

  align-items: center !important;
  text-align: center;

  padding: 20px;

  width: auto;
  height: 35vh;
}

.title {
  color: #6947db;

  font-weight: 600 !important;

  padding-top: 10px;
  padding-left: 20px;
}
