.button{
    height: 50px !important;


    border-radius: 10px !important;
    border: solid 2px #6947DB !important;
    color: #fff !important;
    background-color: #6947DB !important;
}

.button:hover {
    background-color: aqua;
}